.container-fluid{
    margin: 4%;
}
img{
    width: 550px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.container-fluid p{
    text-align:justify;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0px;
}
.container-fluid h2{
    color: #e7e7e7;
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
}
